body{
    width:100%;
    height: 100%;
}
#img img{
  width:100%;
  height:100%;
  position: absolute;
  /* display: none; */
}
#narbar  {
    position:absolute;
    display: flex;
    right: 0%;
}
#narbar a{
    margin: 10px;
    padding: 10x;
    font-size: 20px;;
}
#wel h1{
    position: absolute;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 50px;
    color:cornflowerblue;
}
#form {
    position: absolute;
    /* border: 1px solid black; */
    padding: 20px;
    margin:20px ;
    right: 0%;
    top: 40%;;
    font-size: 30px;
    color: teal;
    text-transform: uppercase;
}
#name{
    position: relative;
    left: 70px;;
}
#mail{
    position: relative;
    left: 28px;;
}
#form input{
    text-indent: 10px;
    font-size: 15px;

}
#btn{
    position: relative;
    left: 140px;
    top:20px;
    font-size: 20px;
}

button:hover{
    color: gray;
}
a:link {
    color: chocolate;
}
a:visited {
    color: teal;
}
a:hover{
    color: white;
}
a:active{
    color: red;
}

@media (max-width:480px)
{
    #narbar{
        position: relative;
        text-align: center;
        
    }
    #wel{
        position: relative;
    }
    #form{
       margin: auto;
       padding: auto;
    }
}
